.car_img{
    width: 100%;
    z-index: -2;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
 }
 .car_image3{
     margin-bottom: 10px;
     height: 600px;
     width: 100%;
 }
 .car_image2{
    margin-bottom: 10px;
    height: 600px;
    width: 100%;
}
.car_image1{
    margin-bottom: 10px;
    height: 600px;
    width: 100%;
}